USE [master]
GO
/****** Object:  Database [blu_bib_lembang]    Script Date: 8/27/2025 2:08:29 PM ******/
CREATE DATABASE [blu_bib_lembang]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'blu_bib_lembang', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\blu_bib_lembang.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'blu_bib_lembang_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\blu_bib_lembang_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [blu_bib_lembang].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [blu_bib_lembang]
GO
/****** Object:  Table [dbo].[populasi]    Script Date: 8/27/2025 2:08:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[populasi](
	[BULAN] [datetime] NULL,
	[Kategori] [varchar](100) NULL,
	[Jenis/Breed] [varchar](100) NULL,
	[Populasi Akhir] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_total_populasi_ternak_per_kategori]    Script Date: 8/27/2025 2:08:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_total_populasi_ternak_per_kategori] AS
SELECT
    BULAN AS TANGGAL_ASLI,  -- untuk sorting kronologis
    FORMAT(BULAN, 'MMM-yy') AS BULAN_TAHUN,  -- format tampil bulan

    Kategori,
    SUM([Populasi Akhir]) AS TOTAL_POPULASI_AKHIR
FROM
    [blu_bib_lembang].[dbo].[populasi]
GROUP BY
    BULAN,
    Kategori;
GO
/****** Object:  Table [dbo].[kunjungan]    Script Date: 8/27/2025 2:08:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[kunjungan](
	[BULAN] [datetime] NULL,
	[KUNJUNGAN_STAKEHOLDER] [int] NULL,
	[KUNJUNGAN_UMUM] [int] NULL,
	[MAGANG_PENELITIAN_PKL] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_kunjungan_dan_magang_per_bulan]    Script Date: 8/27/2025 2:08:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_kunjungan_dan_magang_per_bulan] AS
SELECT
    BULAN AS TANGGAL_ASLI,  -- untuk sorting waktu
    FORMAT(BULAN, 'MMM-yy') AS BULAN_TAHUN,  -- contoh: Jul-25

    -- Gabungan kunjungan umum dan stakeholder
    SUM(KUNJUNGAN_STAKEHOLDER + KUNJUNGAN_UMUM) AS TOTAL_KUNJUNGAN,

    -- Magang/PKL/Penelitian
    SUM(MAGANG_PENELITIAN_PKL) AS TOTAL_MAGANG,

    -- Total keseluruhan
    SUM(KUNJUNGAN_STAKEHOLDER + KUNJUNGAN_UMUM + MAGANG_PENELITIAN_PKL) AS TOTAL_KEGIATAN
FROM
    [blu_bib_lembang].[dbo].[kunjungan]
GROUP BY
    BULAN;
GO
/****** Object:  View [dbo].[vw_penerimaan_pnbp_blu_per_bulan]    Script Date: 8/27/2025 2:08:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_penerimaan_pnbp_blu_per_bulan] AS
SELECT 
    BULAN AS TANGGAL_ASLI,  -- tanggal asli
    FORMAT(BULAN, 'MMM-yy')  AS BULAN_TAHUN,
    PENERIMAAN_PNBP,
    PENERIMAAN_BLU
FROM
    [blu_bib_lembang].[dbo].[kinerja_keuangan];
GO
/****** Object:  View [dbo].[vw_perbandingan_penerimaan_anggaran]    Script Date: 8/27/2025 2:08:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_perbandingan_penerimaan_anggaran] AS
SELECT
    BULAN AS TANGGAL_ASLI,  -- tanggal asli untuk pengurutan kronologis
    FORMAT(BULAN, 'MMM-yy') AS BULAN_TAHUN,  -- format untuk tampilan visual
    -- Penerimaan
    SUM(PENERIMAAN_PNBP) AS TOTAL_PENERIMAAN_PNBP,
    SUM(PENERIMAAN_BLU) AS TOTAL_PENERIMAAN_BLU,

    -- Realisasi & Target
    SUM(REALISASI_ANGGARAN) AS TOTAL_REALISASI_ANGGARAN,
    SUM(TARGET) AS TOTAL_TARGET,

    -- Persentase Realisasi
    CASE 
        WHEN SUM(TARGET) = 0 THEN 0
        ELSE ROUND(SUM(REALISASI_ANGGARAN) * 100.0 / SUM(TARGET), 2)
    END AS PERSENTASE_REALISASI,

    -- Proporsi PNBP dan BLU
    CASE 
        WHEN (SUM(PENERIMAAN_PNBP) + SUM(PENERIMAAN_BLU)) = 0 THEN 0
        ELSE ROUND(SUM(PENERIMAAN_PNBP) * 100.0 / (SUM(PENERIMAAN_PNBP) + SUM(PENERIMAAN_BLU)), 2)
    END AS PERSENTASE_PNBP,

    CASE 
        WHEN (SUM(PENERIMAAN_PNBP) + SUM(PENERIMAAN_BLU)) = 0 THEN 0
        ELSE ROUND(SUM(PENERIMAAN_BLU) * 100.0 / (SUM(PENERIMAAN_PNBP) + SUM(PENERIMAAN_BLU)), 2)
    END AS PERSENTASE_BLU

FROM
    [blu_bib_lembang].[dbo].[kinerja_keuangan]
GROUP BY
    BULAN;
GO
/****** Object:  View [dbo].[vw_realisasi_anggaran_per_bulan]    Script Date: 8/27/2025 2:08:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_realisasi_anggaran_per_bulan] AS
SELECT 
    BULAN AS TANGGAL_ASLI,  -- tanggal asli
    FORMAT(BULAN, 'MMM-yy')  AS BULAN_TAHUN,
    REALISASI_ANGGARAN
FROM
    [blu_bib_lembang].[dbo].[kinerja_keuangan];
GO
/****** Object:  Table [dbo].[dimensi_kategori]    Script Date: 8/27/2025 2:08:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dimensi_kategori](
	[kode_kategori] [varchar](100) NULL,
	[kode_jenis] [varchar](100) NULL,
	[jenis] [varchar](100) NULL,
	[kategori] [varchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dimensi_waktu]    Script Date: 8/27/2025 2:08:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dimensi_waktu](
	[id_waktu] [varchar](100) NULL,
	[bulan] [varchar](100) NULL,
	[tahun] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[distribusi_dan_stok_semen]    Script Date: 8/27/2025 2:08:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[distribusi_dan_stok_semen](
	[BULAN] [datetime] NULL,
	[Target (dosis)] [int] NULL,
	[REALISASI DISTRIBUSI (Dosis)] [int] NULL,
	[PERSENTASE (%)] [float] NULL,
	[STOK SEMEN BEKU] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[fakta_alokasi_distribusi]    Script Date: 8/27/2025 2:08:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fakta_alokasi_distribusi](
	[Id Alokasi Distribusi] [varchar](100) NULL,
	[Id Waktu] [varchar](100) NULL,
	[SIKOMANDAN] [float] NULL,
	[HIBAH] [float] NULL,
	[SWAKELOLA] [float] NULL,
	[INSTANSI] [float] NULL,
	[KOPERASI] [float] NULL,
	[KELOMPOK] [float] NULL,
	[PERORANGAN] [float] NULL,
	[JUMLAH] [float] NULL,
	[Bulan] [varchar](100) NULL,
	[Tahun] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[fakta_disribusi_semen]    Script Date: 8/27/2025 2:08:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fakta_disribusi_semen](
	[Id Distribusi Semen Beku] [varchar](100) NULL,
	[Id Waktu] [varchar](100) NULL,
	[Target] [float] NULL,
	[Realisasi Distribusi] [float] NULL,
	[Persentase] [float] NULL,
	[Stok Semen] [float] NULL,
	[Bulan] [varchar](100) NULL,
	[Tahun] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[fakta_kinerja_keuangan]    Script Date: 8/27/2025 2:08:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fakta_kinerja_keuangan](
	[Id Kinerja Keuangan] [varchar](100) NULL,
	[Id Waktu] [varchar](100) NULL,
	[Penerimaan PNBP] [float] NULL,
	[Penerimaan BLU] [float] NULL,
	[Realisasi Anggaran] [float] NULL,
	[Target] [float] NULL,
	[Persentase] [float] NULL,
	[Bulan] [varchar](100) NULL,
	[Tahun] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[fakta_kunjungan]    Script Date: 8/27/2025 2:08:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fakta_kunjungan](
	[Id Kunjungan] [varchar](100) NULL,
	[Id Waktu] [varchar](100) NULL,
	[STAKEHOLDER] [int] NULL,
	[UMUM] [int] NULL,
	[Magang / penelitian / PKL] [int] NULL,
	[Bulan] [varchar](100) NULL,
	[Tahun] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[fakta_produksi_semen]    Script Date: 8/27/2025 2:08:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fakta_produksi_semen](
	[Id Produksi Semen Beku] [varchar](100) NULL,
	[Id Waktu] [varchar](100) NULL,
	[Bulan] [varchar](100) NULL,
	[Tahun] [datetime] NULL,
	[Target] [float] NULL,
	[Realisasi] [float] NULL,
	[Persentase] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[fakta_struktur_populasi]    Script Date: 8/27/2025 2:08:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fakta_struktur_populasi](
	[Kode Struktur Populasi] [varchar](100) NULL,
	[Id Waktu] [varchar](100) NULL,
	[Kategori] [varchar](100) NULL,
	[Kode Kategori] [varchar](100) NULL,
	[Kode Jenis] [varchar](100) NULL,
	[Populasi Akhir] [int] NULL,
	[Bulan] [varchar](100) NULL,
	[Tahun] [datetime] NULL,
	[Jenis] [varchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[produksi_semen]    Script Date: 8/27/2025 2:08:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[produksi_semen](
	[BULAN] [datetime] NULL,
	[TARGET (Dosis)] [int] NULL,
	[REALISASI (Dosis)] [int] NULL,
	[PERSENTASE (%)] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[table_pegawai]    Script Date: 8/27/2025 2:08:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[table_pegawai](
	[TAHUN] [datetime] NULL,
	[GOLONGAN] [varchar](100) NULL,
	[JUMLAH PEGAWAI] [float] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[dimensi_kategori] ([kode_kategori], [kode_jenis], [jenis], [kategori]) VALUES (N'202401', N'001', N'FH', N'Sapi')
INSERT [dbo].[dimensi_kategori] ([kode_kategori], [kode_jenis], [jenis], [kategori]) VALUES (N'202401', N'002', N'PO', N'Sapi')
INSERT [dbo].[dimensi_kategori] ([kode_kategori], [kode_jenis], [jenis], [kategori]) VALUES (N'202401', N'003', N'BRAHMAN', N'Sapi')
GO
INSERT [dbo].[dimensi_waktu] ([id_waktu], [bulan], [tahun]) VALUES (N'202401', N'January', CAST(N'2024-01-01T00:00:00.000' AS DateTime))
INSERT [dbo].[dimensi_waktu] ([id_waktu], [bulan], [tahun]) VALUES (N'202402', N'February', CAST(N'2024-02-01T00:00:00.000' AS DateTime))
INSERT [dbo].[dimensi_waktu] ([id_waktu], [bulan], [tahun]) VALUES (N'202403', N'March', CAST(N'2024-03-01T00:00:00.000' AS DateTime))
GO
INSERT [dbo].[distribusi_dan_stok_semen] ([BULAN], [Target (dosis)], [REALISASI DISTRIBUSI (Dosis)], [PERSENTASE (%)], [STOK SEMEN BEKU]) VALUES (CAST(N'2024-01-01T00:00:00.000' AS DateTime), 242000, 54959, 22.7103305785, 4772240)
INSERT [dbo].[distribusi_dan_stok_semen] ([BULAN], [Target (dosis)], [REALISASI DISTRIBUSI (Dosis)], [PERSENTASE (%)], [STOK SEMEN BEKU]) VALUES (CAST(N'2024-02-01T00:00:00.000' AS DateTime), 213940, 127085, 59.4021688324, 4985729)
INSERT [dbo].[distribusi_dan_stok_semen] ([BULAN], [Target (dosis)], [REALISASI DISTRIBUSI (Dosis)], [PERSENTASE (%)], [STOK SEMEN BEKU]) VALUES (CAST(N'2024-03-01T00:00:00.000' AS DateTime), 202680, 422901, 208.6545293073, 4875811)
GO
INSERT [dbo].[fakta_alokasi_distribusi] ([Id Alokasi Distribusi], [Id Waktu], [SIKOMANDAN], [HIBAH], [SWAKELOLA], [INSTANSI], [KOPERASI], [KELOMPOK], [PERORANGAN], [JUMLAH], [Bulan], [Tahun]) VALUES (N'AD-202401', N'202401', 0, 0, 0, 14072, 59198, 3621, 36927, 113818, N'January', CAST(N'2024-01-01T00:00:00.000' AS DateTime))
INSERT [dbo].[fakta_alokasi_distribusi] ([Id Alokasi Distribusi], [Id Waktu], [SIKOMANDAN], [HIBAH], [SWAKELOLA], [INSTANSI], [KOPERASI], [KELOMPOK], [PERORANGAN], [JUMLAH], [Bulan], [Tahun]) VALUES (N'AD-202402', N'202402', 235230, 0, 0, 25428, 28707, 4700, 32349, 326414, N'February', CAST(N'2024-02-01T00:00:00.000' AS DateTime))
INSERT [dbo].[fakta_alokasi_distribusi] ([Id Alokasi Distribusi], [Id Waktu], [SIKOMANDAN], [HIBAH], [SWAKELOLA], [INSTANSI], [KOPERASI], [KELOMPOK], [PERORANGAN], [JUMLAH], [Bulan], [Tahun]) VALUES (N'AD-202403', N'202403', 376618, 1504, 0, 3784, 22370, 3000, 24609, 431885, N'March', CAST(N'2024-03-01T00:00:00.000' AS DateTime))
GO
INSERT [dbo].[fakta_disribusi_semen] ([Id Distribusi Semen Beku], [Id Waktu], [Target], [Realisasi Distribusi], [Persentase], [Stok Semen], [Bulan], [Tahun]) VALUES (N'DSB-202401', N'202401', 242000, 54959, 22.7103305785124, 4772240, N'January', CAST(N'2024-01-01T00:00:00.000' AS DateTime))
INSERT [dbo].[fakta_disribusi_semen] ([Id Distribusi Semen Beku], [Id Waktu], [Target], [Realisasi Distribusi], [Persentase], [Stok Semen], [Bulan], [Tahun]) VALUES (N'DSB-202402', N'202402', 213940, 127085, 59.4021688323829, 4985729, N'February', CAST(N'2024-02-01T00:00:00.000' AS DateTime))
INSERT [dbo].[fakta_disribusi_semen] ([Id Distribusi Semen Beku], [Id Waktu], [Target], [Realisasi Distribusi], [Persentase], [Stok Semen], [Bulan], [Tahun]) VALUES (N'DSB-202403', N'202403', 202680, 422901, 208.654529307282, 4875811, N'March', CAST(N'2024-03-01T00:00:00.000' AS DateTime))
GO
INSERT [dbo].[fakta_kinerja_keuangan] ([Id Kinerja Keuangan], [Id Waktu], [Penerimaan PNBP], [Penerimaan BLU], [Realisasi Anggaran], [Target], [Persentase], [Bulan], [Tahun]) VALUES (N'KK-202401', N'202401', 788667000, 1100250105, 1888917105, 23000000000, 4.78712509565217, N'January', CAST(N'2024-01-01T00:00:00.000' AS DateTime))
INSERT [dbo].[fakta_kinerja_keuangan] ([Id Kinerja Keuangan], [Id Waktu], [Penerimaan PNBP], [Penerimaan BLU], [Realisasi Anggaran], [Target], [Persentase], [Bulan], [Tahun]) VALUES (N'KK-202402', N'202402', 419110678, 1303289911, 1722400589, 23000000000, 7.48869821304348, N'February', CAST(N'2024-02-01T00:00:00.000' AS DateTime))
INSERT [dbo].[fakta_kinerja_keuangan] ([Id Kinerja Keuangan], [Id Waktu], [Penerimaan PNBP], [Penerimaan BLU], [Realisasi Anggaran], [Target], [Persentase], [Bulan], [Tahun]) VALUES (N'KK-202403', N'202403', 651167800, 2294063726, 2945231526, 23000000000, 10.0025017565217, N'March', CAST(N'2024-03-01T00:00:00.000' AS DateTime))
GO
INSERT [dbo].[fakta_kunjungan] ([Id Kunjungan], [Id Waktu], [STAKEHOLDER], [UMUM], [Magang / penelitian / PKL], [Bulan], [Tahun]) VALUES (N'KM-202401', N'202401', 33, 905, 7, N'January', CAST(N'2024-01-01T00:00:00.000' AS DateTime))
INSERT [dbo].[fakta_kunjungan] ([Id Kunjungan], [Id Waktu], [STAKEHOLDER], [UMUM], [Magang / penelitian / PKL], [Bulan], [Tahun]) VALUES (N'KM-202402', N'202402', 78, 2050, 8, N'February', CAST(N'2024-02-01T00:00:00.000' AS DateTime))
INSERT [dbo].[fakta_kunjungan] ([Id Kunjungan], [Id Waktu], [STAKEHOLDER], [UMUM], [Magang / penelitian / PKL], [Bulan], [Tahun]) VALUES (N'KM-202403', N'202403', 46, 441, 7, N'March', CAST(N'2024-03-01T00:00:00.000' AS DateTime))
GO
INSERT [dbo].[fakta_produksi_semen] ([Id Produksi Semen Beku], [Id Waktu], [Bulan], [Tahun], [Target], [Realisasi], [Persentase]) VALUES (N'PSB-202401', N'202401', N'January', CAST(N'2024-01-01T00:00:00.000' AS DateTime), 242000, 436723, 180.464049586777)
INSERT [dbo].[fakta_produksi_semen] ([Id Produksi Semen Beku], [Id Waktu], [Bulan], [Tahun], [Target], [Realisasi], [Persentase]) VALUES (N'PSB-202402', N'202402', N'February', CAST(N'2024-02-01T00:00:00.000' AS DateTime), 213940, 314792, 147.140319715808)
INSERT [dbo].[fakta_produksi_semen] ([Id Produksi Semen Beku], [Id Waktu], [Bulan], [Tahun], [Target], [Realisasi], [Persentase]) VALUES (N'PSB-202403', N'202403', N'March', CAST(N'2024-03-01T00:00:00.000' AS DateTime), 202680, 314523, 155.182060390764)
GO
INSERT [dbo].[fakta_struktur_populasi] ([Kode Struktur Populasi], [Id Waktu], [Kategori], [Kode Kategori], [Kode Jenis], [Populasi Akhir], [Bulan], [Tahun], [Jenis]) VALUES (N'FH-001-202401', N'202401', N'Sapi', N'001', N'FH', 13, N'January', CAST(N'2024-01-01T00:00:00.000' AS DateTime), N'FH')
INSERT [dbo].[fakta_struktur_populasi] ([Kode Struktur Populasi], [Id Waktu], [Kategori], [Kode Kategori], [Kode Jenis], [Populasi Akhir], [Bulan], [Tahun], [Jenis]) VALUES (N'PO-002-202401', N'202401', N'Sapi', N'002', N'PO', 12, N'January', CAST(N'2024-01-01T00:00:00.000' AS DateTime), N'PO')
INSERT [dbo].[fakta_struktur_populasi] ([Kode Struktur Populasi], [Id Waktu], [Kategori], [Kode Kategori], [Kode Jenis], [Populasi Akhir], [Bulan], [Tahun], [Jenis]) VALUES (N'BR-003-202401', N'202401', N'Sapi', N'003', N'BR', 15, N'January', CAST(N'2024-01-01T00:00:00.000' AS DateTime), N'BRAHMAN')
GO
INSERT [dbo].[kunjungan] ([BULAN], [KUNJUNGAN_STAKEHOLDER], [KUNJUNGAN_UMUM], [MAGANG_PENELITIAN_PKL]) VALUES (CAST(N'2024-01-01T00:00:00.000' AS DateTime), 33, 905, 7)
INSERT [dbo].[kunjungan] ([BULAN], [KUNJUNGAN_STAKEHOLDER], [KUNJUNGAN_UMUM], [MAGANG_PENELITIAN_PKL]) VALUES (CAST(N'2024-02-01T00:00:00.000' AS DateTime), 78, 2050, 8)
INSERT [dbo].[kunjungan] ([BULAN], [KUNJUNGAN_STAKEHOLDER], [KUNJUNGAN_UMUM], [MAGANG_PENELITIAN_PKL]) VALUES (CAST(N'2024-03-01T00:00:00.000' AS DateTime), 46, 441, 7)
GO
INSERT [dbo].[populasi] ([BULAN], [Kategori], [Jenis/Breed], [Populasi Akhir]) VALUES (CAST(N'2024-01-01T00:00:00.000' AS DateTime), N'Sapi', N'FH', 13)
INSERT [dbo].[populasi] ([BULAN], [Kategori], [Jenis/Breed], [Populasi Akhir]) VALUES (CAST(N'2024-01-01T00:00:00.000' AS DateTime), N'Sapi', N'PO', 12)
INSERT [dbo].[populasi] ([BULAN], [Kategori], [Jenis/Breed], [Populasi Akhir]) VALUES (CAST(N'2024-01-01T00:00:00.000' AS DateTime), N'Sapi', N'BRAHMAN', 15)
GO
INSERT [dbo].[produksi_semen] ([BULAN], [TARGET (Dosis)], [REALISASI (Dosis)], [PERSENTASE (%)]) VALUES (CAST(N'2024-01-01T00:00:00.000' AS DateTime), 242000, 436723, 180.464049586777)
INSERT [dbo].[produksi_semen] ([BULAN], [TARGET (Dosis)], [REALISASI (Dosis)], [PERSENTASE (%)]) VALUES (CAST(N'2024-02-01T00:00:00.000' AS DateTime), 213940, 314792, 147.140319715808)
INSERT [dbo].[produksi_semen] ([BULAN], [TARGET (Dosis)], [REALISASI (Dosis)], [PERSENTASE (%)]) VALUES (CAST(N'2024-03-01T00:00:00.000' AS DateTime), 202680, 314523, 155.182060390764)
GO
INSERT [dbo].[table_pegawai] ([TAHUN], [GOLONGAN], [JUMLAH PEGAWAI]) VALUES (CAST(N'2024-01-01T00:00:00.000' AS DateTime), N'II', 14)
INSERT [dbo].[table_pegawai] ([TAHUN], [GOLONGAN], [JUMLAH PEGAWAI]) VALUES (CAST(N'2024-01-01T00:00:00.000' AS DateTime), N'III', 41)
INSERT [dbo].[table_pegawai] ([TAHUN], [GOLONGAN], [JUMLAH PEGAWAI]) VALUES (CAST(N'2024-01-01T00:00:00.000' AS DateTime), N'IV', 15)
GO
USE [master]
GO
